/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_style.scss */
#parallax {
  background: url("../img/keyboard-dark.jpg");
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*parallax*/
/* line 9, ../sass/_style.scss */
#main {
  z-index: 100;
  -webkit-text-size-adjust: 100%;
  /*sandwich*/
  /*menu*/
  /*header*/
  /*h1*/
  /*h2*/
  /*h4*/
  /*h5*/
  /*p*/
  /*social*/
  /*profile*/
  /*dev-portfolio*/
  /*skills*/
  /*contact*/
  /*contact*/
  /*education*/
}
/* line 13, ../sass/_style.scss */
#main #sandwich {
  display: none;
}
/* line 18, ../sass/_style.scss */
#main .menu {
  padding: 1em 0;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1000;
  display: block;
  text-align: center;
  /*li*/
}
/* line 27, ../sass/_style.scss */
#main .menu li {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  color: #bbd0cd;
  width: 13.9%;
  text-align: center;
  text-transform: lowercase;
  font-size: 1.25em;
  /*a*/
}
/* line 36, ../sass/_style.scss */
#main .menu li a {
  text-decoration: none;
  color: #bbd0cd;
}
/* line 44, ../sass/_style.scss */
#main .header {
  padding: 10em 0 0 0;
}
/* line 49, ../sass/_style.scss */
#main h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 11em;
}
/* line 58, ../sass/_style.scss */
#main h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  font-size: 3em;
  color: #ededed;
  letter-spacing: .5em;
}
/* line 69, ../sass/_style.scss */
#main h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 6em;
  font-weight: 100;
  color: #919191;
  text-align: left;
}
/* line 78, ../sass/_style.scss */
#main h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  text-transform: lowercase;
}
/* line 85, ../sass/_style.scss */
#main h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-weight: 100;
}
/* line 92, ../sass/_style.scss */
#main p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 100;
}
/* line 100, ../sass/_style.scss */
#main .social {
  padding: 2em;
  color: #dadada;
  text-align: center;
  font-size: 3em;
  /*li*/
}
/* line 106, ../sass/_style.scss */
#main .social li {
  display: inline-block;
  border: .1em solid #adadad;
  border-radius: 50%;
  /*hover*/
  /*i*/
}
/* line 111, ../sass/_style.scss */
#main .social li:hover {
  border: .1em solid #919191;
}
/* line 116, ../sass/_style.scss */
#main .social li i {
  border: .1em solid #c4c4c4;
  padding: .175em .08em 0 .08em;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  color: #dadada;
  /*hover*/
}
/* line 125, ../sass/_style.scss */
#main .social li i:hover {
  color: #c4c4c4;
  border: .1em solid #adadad;
  cursor: pointer;
}
/* line 134, ../sass/_style.scss */
#main #profile {
  background: white;
  padding: 100px 10%;
  text-align: center;
  /*a*/
  /*profile-image*/
  /*profile-text*/
  /*profile-tiles*/
}
/* line 139, ../sass/_style.scss */
#main #profile a {
  color: #bbd0cd;
  text-decoration: none;
}
/* line 145, ../sass/_style.scss */
#main #profile .profile-image {
  width: 20%;
  padding: 120px 2% 0;
  display: inline-block;
  vertical-align: top;
}
/* line 153, ../sass/_style.scss */
#main #profile .profile-text {
  width: 70%;
  padding: 100px 2% 0;
  display: inline-block;
  vertical-align: top;
  /*p*/
}
/* line 159, ../sass/_style.scss */
#main #profile .profile-text p {
  color: #919191;
  text-align: left;
  padding: 6.25px 0;
}
/* line 167, ../sass/_style.scss */
#main #profile .profile-tiles {
  text-align: center;
  padding: 100px 0 0 0;
  /*li*/
}
/* line 171, ../sass/_style.scss */
#main #profile .profile-tiles li {
  width: 22.5%;
  height: 400px;
  background: orange;
  display: inline-block;
  margin: 0 1%;
}
/* line 180, ../sass/_style.scss */
#main #profile .profile-tiles .family {
  background: url("../img/bridal-opt.jpg") center;
  background-size: cover;
}
/* line 187, ../sass/_style.scss */
#main #skills {
  padding: 100px 10%;
}
/* line 193, ../sass/_style.scss */
#main #dev-portfolio {
  padding: 100px 10%;
  /*mobile-slider*/
  /*unslider*/
  /*unslider-nav ol li*/
  /*next*/
  /*prev*/
  /*unslider-arrow*/
  /*h3*/
  /*h4*/
  /*h5*/
  /*a*/
  /*dev-port-list*/
  /*des-port-list*/
}
/* line 196, ../sass/_style.scss */
#main #dev-portfolio #mobile-slider {
  display: none;
}
/* line 201, ../sass/_style.scss */
#main #dev-portfolio .unslider {
  overflow: hidden;
}
/* line 206, ../sass/_style.scss */
#main #dev-portfolio .unslider-nav ol li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
/* line 213, ../sass/_style.scss */
#main #dev-portfolio .next {
  margin: -250px 50px 0 0;
}
/* line 218, ../sass/_style.scss */
#main #dev-portfolio .prev {
  margin: -250px 0 0 50px;
}
/* line 223, ../sass/_style.scss */
#main #dev-portfolio .unslider-arrow {
  border: 10px solid white;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  text-align: center;
  /*hover*/
  /*i*/
}
/* line 230, ../sass/_style.scss */
#main #dev-portfolio .unslider-arrow:hover {
  background: rgba(0, 0, 0, 0.4);
}
/* line 235, ../sass/_style.scss */
#main #dev-portfolio .unslider-arrow i {
  color: white;
  font-size: 40px;
  padding: 9px 0 0 0;
}
/* line 244, ../sass/_style.scss */
#main #dev-portfolio h3 {
  color: white;
}
/* line 249, ../sass/_style.scss */
#main #dev-portfolio h4 {
  padding: 50px 5% 25px;
  color: white;
}
/* line 255, ../sass/_style.scss */
#main #dev-portfolio h5 {
  color: white;
  padding: 12.5px 0 0 0;
}
/* line 260, ../sass/_style.scss */
#main #dev-portfolio a {
  text-decoration: none;
}
/* line 265, ../sass/_style.scss */
#main #dev-portfolio .dev-port-list {
  padding: 0 5%;
  vertical-align: top;
  /*li*/
}
/* line 269, ../sass/_style.scss */
#main #dev-portfolio .dev-port-list li {
  text-align: center;
  width: 30%;
  padding: 25px 1.5%;
  display: inline-block;
  vertical-align: top;
  /*img*/
}
/* line 276, ../sass/_style.scss */
#main #dev-portfolio .dev-port-list li img {
  width: 100%;
}
/* line 281, ../sass/_style.scss */
#main #dev-portfolio .des-port-list {
  padding: 0 2%;
  text-align: center;
  /*li*/
}
/* line 285, ../sass/_style.scss */
#main #dev-portfolio .des-port-list li {
  cursor: pointer;
  width: 140px;
  height: 140px;
  border: 10px solid white;
  color: white;
  border-radius: 100%;
  padding: 25px;
  text-align: center;
  display: inline-block;
  margin: 50px 1% 0;
  /*hover*/
  /*h5*/
  /*i*/
}
/* line 297, ../sass/_style.scss */
#main #dev-portfolio .des-port-list li:hover {
  background: rgba(0, 0, 0, 0.4);
}
/* line 302, ../sass/_style.scss */
#main #dev-portfolio .des-port-list li h5 {
  color: white;
}
/* line 306, ../sass/_style.scss */
#main #dev-portfolio .des-port-list li i {
  font-size: 80px;
  padding: 10px 0 0 0;
}
/* line 315, ../sass/_style.scss */
#main .skills {
  padding: 100px 10%;
  background: url("../img/skills-2.jpg");
  background-size: cover;
  background-position: center;
  /*design*/
  /*ul*/
  /*h3*/
  /*h4, h5*/
  /*h4*/
  /*logo-name*/
  /*specialty-box*/
  /*dev-height*/
  /*des-height*/
  /*experience-box*/
  /*specialty-skills*/
  /*development-skills*/
}
/* line 321, ../sass/_style.scss */
#main .skills .design {
  padding: 50px 0 0;
}
/* line 326, ../sass/_style.scss */
#main .skills ul {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: #919191;
  display: inline;
}
/* line 334, ../sass/_style.scss */
#main .skills ul li {
  padding: 5px 0 5px 20px;
  width: 100%;
}
/* line 340, ../sass/_style.scss */
#main .skills h3 {
  color: #919191;
}
/* line 345, ../sass/_style.scss */
#main .skills h4, #main .skills h5 {
  color: white;
}
/* line 350, ../sass/_style.scss */
#main .skills h4 {
  padding: 0px 0 25px;
}
/* line 360, ../sass/_style.scss */
#main .skills .specialty-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 50px 2% 50px;
  width: 41%;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  margin: 25px 2%;
  /*ul*/
}
/* line 369, ../sass/_style.scss */
#main .skills .specialty-box ul {
  display: inline-block;
  color: white;
}
/* line 377, ../sass/_style.scss */
#main .skills .dev-height {
  height: 625px;
}
/* line 382, ../sass/_style.scss */
#main .skills .des-height {
  height: 450px;
}
/* line 387, ../sass/_style.scss */
#main .skills .experience-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 50px 2% 50px;
  width: 41%;
  text-align: left;
  vertical-align: top;
  display: inline-block;
  margin: 25px 2%;
  /*ul*/
  /*specialty-skills*/
}
/* line 396, ../sass/_style.scss */
#main .skills .experience-box ul {
  color: white;
  font-weight: 100;
}
/* line 401, ../sass/_style.scss */
#main .skills .experience-box .specialty-skills {
  /*li*/
}
/* line 403, ../sass/_style.scss */
#main .skills .experience-box .specialty-skills li {
  width: 8%;
}
/* line 410, ../sass/_style.scss */
#main .skills .specialty-skills {
  text-align: center;
  /*li*/
  /*h5*/
}
/* line 413, ../sass/_style.scss */
#main .skills .specialty-skills li {
  width: 8%;
  padding: 0 0 50px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  /*img*/
}
/* line 420, ../sass/_style.scss */
#main .skills .specialty-skills li img {
  width: 80%;
}
/* line 426, ../sass/_style.scss */
#main .skills .specialty-skills h5 {
  font-size: 1.4em;
  font-weight: 100;
  line-height: 1.2em;
}
/* line 433, ../sass/_style.scss */
#main .skills .development-skills, #main .skills .design-skills {
  padding: 0 5%;
  /*li*/
}
/* line 436, ../sass/_style.scss */
#main .skills .development-skills li, #main .skills .design-skills li {
  width: 12%;
  padding: 25px 1%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  /*img*/
  /*h5*/
}
/* line 443, ../sass/_style.scss */
#main .skills .development-skills li img, #main .skills .design-skills li img {
  width: 100%;
}
/* line 448, ../sass/_style.scss */
#main .skills .development-skills li h5, #main .skills .design-skills li h5 {
  text-align: center;
  color: white;
}
/* line 457, ../sass/_style.scss */
#main .contact {
  /*h3*/
  /*h5*/
  /*input*/
  /*form*/
}
/* line 459, ../sass/_style.scss */
#main .contact h3 {
  color: white;
}
/* line 464, ../sass/_style.scss */
#main .contact h5 {
  display: inline-block;
  width: 49%;
  text-align: right;
  color: white;
}
/* line 472, ../sass/_style.scss */
#main .contact input {
  width: 60%;
  padding: 12.5px;
  margin: 12.5px 0;
  border: none;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 100;
}
/* line 484, ../sass/_style.scss */
#main .contact form {
  text-align: center;
  padding: 50px 0 0 0;
}
/* line 491, ../sass/_style.scss */
#main .contact {
  /*map*/
  /*overlay*/
}
/* line 492, ../sass/_style.scss */
#main .contact #map {
  width: 100%;
  height: 500px;
  position: relative;
}
/* line 499, ../sass/_style.scss */
#main .contact .overlay {
  position: absolute;
  z-index: 99;
  padding: 100px 10%;
  width: 72%;
  /*overlay-background*/
}
/* line 505, ../sass/_style.scss */
#main .contact .overlay .overlay-background {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: 50px 5% 100px;
  /*ul*/
}
/* line 510, ../sass/_style.scss */
#main .contact .overlay .overlay-background ul {
  text-align: center;
  padding: 25px 0 0;
  /*li*/
}
/* line 514, ../sass/_style.scss */
#main .contact .overlay .overlay-background ul li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: inline-block;
  padding: 0 3%;
  font-weight: 100;
  /*a*/
}
/* line 521, ../sass/_style.scss */
#main .contact .overlay .overlay-background ul li a {
  color: white;
  text-decoration: none;
  /*i*/
}
/* line 525, ../sass/_style.scss */
#main .contact .overlay .overlay-background ul li a i {
  border: 3px solid white;
  border-radius: 100%;
  height: 15px;
  width: 25px;
  padding: 5px 0;
  font-size: 14px;
}
/* line 541, ../sass/_style.scss */
#main .education {
  position: relative;
  overflow: hidden;
  width: auto;
  min-width: 100%;
  max-height: 800px;
  /*h3, h4, h5*/
  /*h4*/
  /*h5*/
  /*cc-image*/
  /*video*/
  /*vid-overlay*/
  /*vid-text*/
}
/* line 548, ../sass/_style.scss */
#main .education h3, #main .education h4, #main .education h5 {
  color: white;
}
/* line 553, ../sass/_style.scss */
#main .education h4 {
  padding: 50px 0 0 0;
}
/* line 558, ../sass/_style.scss */
#main .education h5 {
  padding: 25px 0 0 0;
}
/* line 563, ../sass/_style.scss */
#main .education .cc-image {
  padding: 33.5px 0;
}
/* line 568, ../sass/_style.scss */
#main .education video {
  width: auto;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
/* line 575, ../sass/_style.scss */
#main .education .vid-overlay {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  overflow: hidden;
}
/* line 585, ../sass/_style.scss */
#main .education .vid-text {
  text-align: left;
  position: absolute;
  padding: 100px 10%;
  width: 93%;
  overflow: hidden;
  /*education-tiles*/
}
/* line 592, ../sass/_style.scss */
#main .education .vid-text .education-tiles {
  margin: 50px 0 0;
  /*li*/
}
/* line 595, ../sass/_style.scss */
#main .education .vid-text .education-tiles li {
  width: 40%;
  margin: 0 1.5%;
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  vertical-align: top;
  text-align: center;
  padding: 50px 0;
  height: 400px;
  /*img*/
  /*side-2*/
  /*hover*/
}
/* line 605, ../sass/_style.scss */
#main .education .vid-text .education-tiles li img {
  width: 150px;
}
/* line 610, ../sass/_style.scss */
#main .education .vid-text .education-tiles li .side-2 {
  display: none;
  /*p*/
  /*h4*/
  /*a*/
}
/* line 613, ../sass/_style.scss */
#main .education .vid-text .education-tiles li .side-2 p {
  color: white;
  line-height: 1.5em;
  font-size: 1.2em;
  text-align: left;
  padding: 25px 8%;
}
/* line 622, ../sass/_style.scss */
#main .education .vid-text .education-tiles li .side-2 h4 {
  padding: 0;
}
/* line 627, ../sass/_style.scss */
#main .education .vid-text .education-tiles li .side-2 a {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #bbd0cd;
}
/* line 636, ../sass/_style.scss */
#main .education .vid-text .education-tiles li:hover {
  background: rgba(135, 135, 135, 0.7);
  /*side-1*/
  /*side-2*/
}
/* line 639, ../sass/_style.scss */
#main .education .vid-text .education-tiles li:hover .side-1 {
  display: none;
}
/* line 644, ../sass/_style.scss */
#main .education .vid-text .education-tiles li:hover .side-2 {
  display: block;
}

/*main*/
/* line 655, ../sass/_style.scss */
#website-modal, #logo-modal, #clothing-modal {
  background: #919191;
  /*remodal-close*/
  /*h3*/
  /*ul*/
}
/* line 658, ../sass/_style.scss */
#website-modal .remodal-close, #logo-modal .remodal-close, #clothing-modal .remodal-close {
  color: white;
}
/* line 663, ../sass/_style.scss */
#website-modal h3, #logo-modal h3, #clothing-modal h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 4em;
  color: white;
  text-align: left;
}
/* line 672, ../sass/_style.scss */
#website-modal ul, #logo-modal ul, #clothing-modal ul {
  padding: 25px 0 0;
  vertical-align: top;
  /*li*/
}
/* line 676, ../sass/_style.scss */
#website-modal ul li, #logo-modal ul li, #clothing-modal ul li {
  width: 45%;
  padding: 12.5px 2%;
  display: inline-block;
  vertical-align: top;
  /*a*/
  /*h5*/
  /*img*/
}
/* line 682, ../sass/_style.scss */
#website-modal ul li a, #logo-modal ul li a, #clothing-modal ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
/* line 690, ../sass/_style.scss */
#website-modal ul li h5, #logo-modal ul li h5, #clothing-modal ul li h5 {
  padding: 5px;
}
/* line 695, ../sass/_style.scss */
#website-modal ul li img, #logo-modal ul li img, #clothing-modal ul li img {
  width: 100%;
}

/*website-modal, logo-modal, clothing-modal*/
/* line 702, ../sass/_style.scss */
#logo-modal {
  background: white;
  /*remodal-close*/
  /*h3*/
  /*h5*/
  /*ul*/
}
/* line 705, ../sass/_style.scss */
#logo-modal .remodal-close {
  color: #919191;
}
/* line 710, ../sass/_style.scss */
#logo-modal h3 {
  color: #919191;
}
/* line 715, ../sass/_style.scss */
#logo-modal h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #919191;
  padding: 50px 0 0 5%;
  text-align: left;
}
/* line 725, ../sass/_style.scss */
#logo-modal ul {
  /*li*/
  /*wolf-long*/
}
/* line 727, ../sass/_style.scss */
#logo-modal ul li {
  width: 28%;
}
/* line 732, ../sass/_style.scss */
#logo-modal ul .wolf-long {
  width: 70%;
}

/*logo-modal*/
@media (max-width: 1050px) {
  /* line 740, ../sass/_style.scss */
  #main {
    /*dev-portfolio*/
  }
  /* line 742, ../sass/_style.scss */
  #main #dev-portfolio {
    /*next*/
    /*prev*/
  }
  /* line 744, ../sass/_style.scss */
  #main #dev-portfolio .next {
    margin: -250px 0 0 50px;
  }
  /* line 749, ../sass/_style.scss */
  #main #dev-portfolio .prev {
    margin: -250px 50px 0 0;
  }

  /*main*/
}
/*max-width 1000px*/
@media (max-width: 1000px) {
  /* line 758, ../sass/_style.scss */
  #main {
    /*menu*/
    /*white-background*/
    /*sandwich*/
    /*social*/
    /*h3*/
    /*p*/
    /*h1*/
    /*header*/
    /*profile*/
    /*education*/
    /*#skills*/
    /*skills*/
    /*dev-portfolio*/
    /*contact*/
  }
  /* line 759, ../sass/_style.scss */
  #main .menu {
    display: none;
  }
  /* line 763, ../sass/_style.scss */
  #main .white-background {
    background: white;
  }
  /* line 768, ../sass/_style.scss */
  #main #sandwich {
    display: block;
    z-index: 1000;
    position: fixed;
    width: 100%;
    /*i*/
    /*sandwich-menu*/
  }
  /* line 774, ../sass/_style.scss */
  #main #sandwich i {
    color: #bbd0cd;
    font-size: 8em;
    float: right;
    padding: 20px 2% 0;
  }
  /* line 782, ../sass/_style.scss */
  #main #sandwich #sandwich-menu {
    display: none;
    background: white;
    float: right;
    font-size: 6em;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #bbd0cd;
    padding: 0 0 80px 0;
    /*li*/
    /*a*/
  }
  /* line 792, ../sass/_style.scss */
  #main #sandwich #sandwich-menu li {
    text-align: right;
    padding: 20px 160px 20px 0;
  }
  /* line 799, ../sass/_style.scss */
  #main #sandwich #sandwich-menu a {
    text-decoration: none;
    color: #bbd0cd;
  }
  /* line 807, ../sass/_style.scss */
  #main .social {
    font-size: 5em;
    padding: 2em .2em 0;
  }
  /* line 813, ../sass/_style.scss */
  #main h3, #main #h3 {
    font-size: 120px;
  }
  /* line 818, ../sass/_style.scss */
  #main p {
    font-size: 56px;
    line-height: 60px;
  }
  /* line 824, ../sass/_style.scss */
  #main h1 {
    font-size: 175px;
  }
  /* line 829, ../sass/_style.scss */
  #main h2 {
    font-size: 72px;
  }
  /* line 833, ../sass/_style.scss */
  #main .header {
    padding: 300px 0 200px;
  }
  /* line 838, ../sass/_style.scss */
  #main #profile {
    padding: 200px 10%;
    /*h3*/
    /*profile-image, profile-text*/
    /*profile-image*/
    /*profile-text*/
  }
  /* line 841, ../sass/_style.scss */
  #main #profile h3 {
    font-size: 120px;
  }
  /* line 846, ../sass/_style.scss */
  #main #profile .profile-image, #main #profile .profile-text {
    display: block;
  }
  /* line 851, ../sass/_style.scss */
  #main #profile .profile-image {
    width: 80%;
    margin: auto;
  }
  /* line 857, ../sass/_style.scss */
  #main #profile .profile-text {
    width: 100%;
    /*p*/
  }
  /* line 860, ../sass/_style.scss */
  #main #profile .profile-text p {
    padding: 25px 0;
    line-height: 70px;
  }
  /* line 868, ../sass/_style.scss */
  #main .education {
    height: 2500px;
    max-height: none;
    background: url(../img/education.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*education-video*/
    /*h3*/
    /*video*/
    /*h4*/
    /*h5*/
    /*vide-text*/
  }
  /* line 876, ../sass/_style.scss */
  #main .education #education-video, #main .education video {
    display: none;
  }
  /* line 881, ../sass/_style.scss */
  #main .education h3 {
    padding: 0 0 100px;
  }
  /* line 886, ../sass/_style.scss */
  #main .education video {
    height: 800px;
  }
  /* line 891, ../sass/_style.scss */
  #main .education h4 {
    font-size: 6em;
    margin: 50px 0;
  }
  /* line 897, ../sass/_style.scss */
  #main .education h5 {
    font-size: 4em;
  }
  /* line 902, ../sass/_style.scss */
  #main .education .vid-text {
    padding: 200px 10%;
    /*education-tiles*/
  }
  /* line 905, ../sass/_style.scss */
  #main .education .vid-text .education-tiles {
    /*li*/
  }
  /* line 907, ../sass/_style.scss */
  #main .education .vid-text .education-tiles li {
    width: 85%;
    margin: 25px 0;
    height: 800px;
    /*side-2*/
  }
  /* line 912, ../sass/_style.scss */
  #main .education .vid-text .education-tiles li .side-2 {
    /*a*/
    /*p*/
  }
  /* line 914, ../sass/_style.scss */
  #main .education .vid-text .education-tiles li .side-2 a {
    font-size: 48px;
  }
  /* line 918, ../sass/_style.scss */
  #main .education .vid-text .education-tiles li .side-2 p {
    font-size: 36px;
  }
  /* line 928, ../sass/_style.scss */
  #main #skills {
    padding: 200px 10%;
  }
  /* line 932, ../sass/_style.scss */
  #main .skills {
    /*specialty-box, experience-box*/
  }
  /* line 934, ../sass/_style.scss */
  #main .skills .specialty-box, #main .skills .experience-box {
    display: block;
    width: 80%;
    padding: 100px 10%;
    margin: 100px 0;
    /*h4*/
    /*ul*/
  }
  /* line 940, ../sass/_style.scss */
  #main .skills .specialty-box h4, #main .skills .experience-box h4 {
    font-size: 80px;
    padding: 0 0 100px;
  }
  /* line 946, ../sass/_style.scss */
  #main .skills .specialty-box ul, #main .skills .experience-box ul {
    display: block;
    font-size: 56px;
    padding: 0 5%;
    /*li*/
  }
  /* line 951, ../sass/_style.scss */
  #main .skills .specialty-box ul li, #main .skills .experience-box ul li {
    padding: 15px 0;
  }
  /* line 959, ../sass/_style.scss */
  #main #dev-portfolio {
    padding: 200px 10%;
    /*prev*/
    /*desktop-slider, unslider-arrow, unslidr-nav*/
    /*mobile-slider*/
    /*h4*/
    /*des-port-list*/
  }
  /* line 962, ../sass/_style.scss */
  #main #dev-portfolio .prev {
    margin: 0 50px 0 0;
  }
  /* line 967, ../sass/_style.scss */
  #main #dev-portfolio #desktop-slider, #main #dev-portfolio .unslider-arrow, #main #dev-portfolio .unslider-nav {
    display: none;
  }
  /* line 972, ../sass/_style.scss */
  #main #dev-portfolio #mobile-slider {
    display: block;
    text-align: center;
    padding: 100px 0;
    /*li*/
  }
  /* line 977, ../sass/_style.scss */
  #main #dev-portfolio #mobile-slider li {
    padding: 50px 0;
    /*img*/
    /*h5*/
  }
  /* line 980, ../sass/_style.scss */
  #main #dev-portfolio #mobile-slider li img {
    width: 100%;
  }
  /* line 985, ../sass/_style.scss */
  #main #dev-portfolio #mobile-slider li h5 {
    font-size: 72px;
  }
  /* line 992, ../sass/_style.scss */
  #main #dev-portfolio h4 {
    font-size: 96px;
    padding: 100px 5% 0;
  }
  /* line 998, ../sass/_style.scss */
  #main #dev-portfolio .des-port-list {
    /*li*/
  }
  /* line 999, ../sass/_style.scss */
  #main #dev-portfolio .des-port-list li {
    display: block;
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border: 20px solid white;
    padding: 100px 60px 20px;
    /*i*/
    /*h5*/
  }
  /* line 1007, ../sass/_style.scss */
  #main #dev-portfolio .des-port-list li i {
    font-size: 16em;
  }
  /* line 1011, ../sass/_style.scss */
  #main #dev-portfolio .des-port-list li h5 {
    font-size: 6em;
  }
  /* line 1019, ../sass/_style.scss */
  #main .contact {
    /*overlay*/
    /*map*/
  }
  /* line 1021, ../sass/_style.scss */
  #main .contact .overlay {
    /*overlay-background*/
  }
  /* line 1023, ../sass/_style.scss */
  #main .contact .overlay .overlay-background {
    /*h3*/
    /*ul*/
  }
  /* line 1025, ../sass/_style.scss */
  #main .contact .overlay .overlay-background h3 {
    text-align: center;
  }
  /* line 1029, ../sass/_style.scss */
  #main .contact .overlay .overlay-background ul {
    /*li*/
  }
  /* line 1030, ../sass/_style.scss */
  #main .contact .overlay .overlay-background ul li {
    font-size: 3em;
    display: block;
    padding: 25px 0;
    /*a*/
  }
  /* line 1034, ../sass/_style.scss */
  #main .contact .overlay .overlay-background ul li a {
    /*i*/
  }
  /* line 1036, ../sass/_style.scss */
  #main .contact .overlay .overlay-background ul li a i {
    font-size: 30px;
    width: 55px;
    height: 35px;
    padding: 10px 0;
  }
  /* line 1049, ../sass/_style.scss */
  #main .contact #map {
    height: 1000px;
  }

  /*main*/
  /* line 1056, ../sass/_style.scss */
  #website-modal, #logo-modal, #clothing-modal {
    /*remodal-close*/
    /*h3*/
    /*ul*/
  }
  /* line 1058, ../sass/_style.scss */
  #website-modal .remodal-close, #logo-modal .remodal-close, #clothing-modal .remodal-close {
    width: 100px;
    height: 100px;
    font-size: 100px;
    /*before*/
  }
  /* line 1063, ../sass/_style.scss */
  #website-modal .remodal-close:before, #logo-modal .remodal-close:before, #clothing-modal .remodal-close:before {
    font-size: 100px;
    top: 20px;
    left: 20px;
  }
  /* line 1072, ../sass/_style.scss */
  #website-modal h3, #logo-modal h3, #clothing-modal h3 {
    font-size: 10em;
    padding: 50px 0 0;
  }
  /* line 1077, ../sass/_style.scss */
  #website-modal ul, #logo-modal ul, #clothing-modal ul {
    padding: 100px 0 0;
    /*li*/
  }
  /* line 1080, ../sass/_style.scss */
  #website-modal ul li, #logo-modal ul li, #clothing-modal ul li {
    width: 90%;
    padding: 50px 0;
    /*a*/
  }
  /* line 1084, ../sass/_style.scss */
  #website-modal ul li a, #logo-modal ul li a, #clothing-modal ul li a {
    /*h5*/
  }
  /* line 1086, ../sass/_style.scss */
  #website-modal ul li a h5, #logo-modal ul li a h5, #clothing-modal ul li a h5 {
    font-size: 4em;
  }

  /*website-modal, #logo-modal, #clothing-modal*/
  /* line 1095, ../sass/_style.scss */
  #logo-modal {
    /*h5*/
    /*ul*/
  }
  /* line 1097, ../sass/_style.scss */
  #logo-modal h5 {
    font-size: 6em;
    padding: 200px 5% 0;
  }
  /* line 1103, ../sass/_style.scss */
  #logo-modal ul {
    /*wolf-long*/
  }
  /* line 1105, ../sass/_style.scss */
  #logo-modal ul .wolf-long {
    width: 90%;
  }

  /*logo-modal*/
}
/*max-width 900px*/
